﻿@model Lasmart.Web.Infrastructure.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary()
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <p>
        <label>Email</label><br />
        @Html.EditorFor(x => x.Email)
    </p>
    <p>
        <label>Пароль</label><br />
        @Html.EditorFor(x => x.Password)
    </p>
    <p><button type="submit">Войти</button></p>
    <p><a href="@Url.Action("Register", "Account")">Регистрация</a></p>
</div>
}

